@page "/"
@using LanguageExt
@using static LanguageExt.Prelude

<h3>OptionalValue</h3>

<StringOption ContentValue="Hello">
    <Some>
        <p>Hello!</p>
    </Some>
    <None>
        <p>wait for it.....</p>
    </None>
</StringOption>

@code {

    Option<string> Hello;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(3000);
            Hello = Some("Hello!");
            await InvokeAsync(StateHasChanged);
        }
    }

}
