@page "/"

<h3>OptionalValue</h3>

<Option OptionValue="@textValue">
    <Some>
        <p>@textValue</p>
    </Some>
    <None>
        <p>wait for it.....</p>
    </None>
</Option>

@code {

    string textValue;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(3000);
            textValue = "Hello!";
            await InvokeAsync(StateHasChanged);
        }
    }

}
